{% extends "base.html" %}

{% block title %}

sending password page

{% endblock title %}
{% block content %}
    <p>Salom,</p>
    <p>Sizning parolingiz qayta tiklandi. Yangi parol: <strong>{{ password }}</strong></p>
    <p>Siz Salomatlik maktabi kutubxona tizimiga bundan buyog'iga shu parol bilan kira olasiz. Tizimdan parolingizni o'zgartirib olishingiz mumkin....</p>
    <p>Yana savollaringiz bo'lsa biz bilan bog'lanishingiz mumkin.</p>
    <p>Phone: +998972001426 </p>

{% endblock content %}