{% extends 'base.html' %}
{% load static %}

{% block title %}
Check Verify Code
{% endblock title %}
{% block content %}
    <form method='POST'>
    {% csrf_token %}
    <h2>Emailingizga yuborilgan 6 xonali kodni kiriting kodning amal qilish muddati 5 minut...</h2>

    {{ form.as_p }}
    <input type='submit' value='Check code' style="background-color: aqua; color: blue;">
    <a href="{% url 'accounts:password_reset' %}"> <button type="button" class="btn btn-info">Back</button> </a>
    </form >
{% endblock content %}

