{% extends "base.html" %}
{% load static %}
{% block title %}
home page
{% endblock title %}
{% block context %}
    <h1>welcome to home page</h1>
    

    {% if user.is_authenticated %}
    {{ user.full_name  }} | {{ user.email  }}
        <a href="{% url 'accounts:logout' %}">logout</a>
        <a href="{% url 'accounts:update' %}">update</a>
    {% else %}
        <a href="{% url 'accounts:register' %}">register</a>
        <a href="{% url 'accounts:login' %}">login</a>
    {% endif %}
    
{% endblock context %}