{% extends "base.html" %}
{% load static %}
{% block title %}
home page
{% endblock title %}
{% block context %}



<div class="lg:px-6 2xl:px-0">

  <div class="mx-auto container relative z-0 px-4 2xl:px-0">
      <div class="flex flex-col-reverse md:flex-row">
          <div class="md:w-3/5 md:py-24 pb-10 lg:py-32 xl:py-48 flex flex-col justify-center">
              <h1 class="text-3xl lg:text-6xl xl:text-8xl font-black text-gray-900 dark:text-white text-center md:text-left tracking-tighter f-f-i md:w-7/12 leading-tight text-heading-color">ONE WALLET TO RULE THEM ALL</h1>
              <h2 class="md:w-8/12 my-4 text-center md:text-left md:my-8 text-gray-700 dark:text-gray-200 text-lg lg:text-2xl">Do you want to control your expenses and be always aware of how much money you have spent?</h2>
              <div class="w-full flex justify-center md:block">
                  <button class="hover:opacity-90 bg-indigo-700 py-3 px-10 lg:py-7 lg:px-20 rounded-full text-white text-sm md:text-lg f-f-p focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700">Learn More</button>
              </div>
          </div>
          <div class="w-1/2 sm:w-2/5 h-64 md:h-auto m-auto flex items-center overflow-hidden">
              <img class="md:absolute md:w-1/2 md:-ml-28" src="https://cdn.tuk.dev/assets/components/111220/Hero4/Device - Macbook Pro.png" alt="Laptop with pivot page on screen" role="img" />
          </div>
      </div>
  </div>
</div>






<div class="slider sm:my-16 my-8">
  <div class="slide-track">
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
      <p>Adabiyotlar</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
      <p>Mualliflar</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
    <a href="./cards.html" class="slide">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" /> -->
      <p>Manaviyat va san'at</p>
    </a>
  </div>
</div>



<section class="c_grid max-w-screen-xl mx-auto p-2 sm:mb-32 mb-16">
  <div class="grid_1 grid_big_box">
    <div>
      <img src="./img/g2.svg" alt="">
    </div>
    <p>O'zbekiston Respublikasi oliy ta'lim va ilmiy tadqiqot muassasalarining yagona elektron kutubxona axborot
      tizimi</p>
    <p>
      Elektron kutubxonada oliy ta'lim va ilmiy tadqiqot muassasalarining o'quv adabiyotlari, monografiyalari,
      dissertatsiyalari va ilmiy maqolalari jamlangan</p>
    <button type="submit"
      class="text-white bg-login hover:bg-hover_login focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center">Batafsil</button>
  </div>
  <div class="grid_2 grid_box">
    <div>
      <img src="./img/g2.svg" alt="">
    </div>
    <h2>240351 adabiyotlar</h2>
    <p>O'qituvchilar va ilmiy tadqiqotchilarning barcha maqolalari ro'yxati</p>
  </div>
  <div class="grid_3 grid_box">
    <div>
      <img src="./img/g3.svg" alt="">
    </div>
    <h2>240351 adabiyotlar</h2>
    <p>O'qituvchilar va ilmiy tadqiqotchilarning barcha maqolalari ro'yxati</p>
  </div>
  <div class="grid_4 grid_box">
    <div>
      <img src="./img/g4.svg" alt="">
    </div>
    <h2>240351 adabiyotlar</h2>
    <p>O'qituvchilar va ilmiy tadqiqotchilarning barcha maqolalari ro'yxati</p>
  </div>
  <div class="grid_5 grid_box">
    <div>
      <img src="./img/g5.svg" alt="">
    </div>
    <h2>240351 adabiyotlar</h2>
    <p>O'qituvchilar va ilmiy tadqiqotchilarning barcha maqolalari ro'yxati</p>
  </div>
</section>



<div class="container mx-auto pt-16">
  <div class="w-11/12 xl:w-2/3 lg:w-2/3 md:w-2/3 mx-auto sm:mb-10 mb-16">
      <h1 tabindex="0" class="focus:outline-none xl:text-5xl md:text-3xl text-xl dark:text-white text-center text-gray-800 font-extrabold mb-5 pt-4">Partnerships with Coveted Brands</h1>
      <p tabindex="0" class="focus:outline-none text-base md:text-lg lg:text-xl dark:text-gray-200 text-center text-gray-600 font-normal xl:w-10/12 xl:mx-auto">Our success has come from being committed to the property and investing in the development of the product to maximize sales. At the same time and maintaining the integrity.</p>
  </div>
  <div class="xl:py-16 lg:py-16 md:py-16 sm:py-16 px-15 flex flex-wrap">
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
        <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
      <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
  </div>
  <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
    <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
</div>
<div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
  <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
</div>
<div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
  <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="Adidas" role="img" />
</div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r border-gray-200 xl:pb-10 pb-16 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/channel-dark.png" alt="Chanel" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b border-gray-200 xl:pb-10 pb-16 pt-4 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/nike-dark.png" alt="Nike" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center lg:border-b xl:border-b lg:border-l xl:border-l border-gray-200 xl:pb-10 pb-16 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/toyota-dark.png" alt="Toyota" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-r lg:border-r border-gray-200 xl:pt-10 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/gs1-dark.png" alt="GS1" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-r lg:border-r border-gray-200 xl:pt-10 items-center">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/berry-dark.png" alt="BlackBerry" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:pt-10 lg:pt-10 md:pt-2 pt-16">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/min-dark.png" alt="Mini" role="img" />
      </div>
      <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-l lg:border-l border-gray-200 xl:pt-10 lg:pt-10 md:pt-2 pt-16">
          <img tabindex="0" class="focus:outline-none" src="https://cdn.tuk.dev/assets/honda-dark.png" alt="Honda" role="img"  />
      </div>
  </div>
</div>



{% endblock context %}


{% block static %}
var swiper = new Swiper(".mySwiper", {
slidesPerView: 1,
spaceBetween: 10,
navigation: {
nextEl: ".swiper-button-next",
prevEl: ".swiper-button-prev",
},
breakpoints: {
640: {
    slidesPerView: 1,
    spaceBetween: 10,
},
768: {
    slidesPerView: 4,
    spaceBetween: 15,
},
1024: {
    slidesPerView: 4,
    spaceBetween: 20,
},
},
pagination: {
el: ".swiper-pagination",
clickable: true,
},
});

{% endblock static %}