{% extends "base.html" %}
{% load static %}

{% block title %}
Information
{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}



{% block context %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">4-daraja</th>
        <th scope="col">3-daraja</th>
        <th scope="col">2-daraja</th>
        <th scope="col">1-daraja</th>
        <th scope="col">0-daraja</th>

      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1. Овқатланиш (овқатни оғизга олиб келиш, вилкалар пичоқни ишлатиш, чайнаш, ютиш)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда мустақиллик қисман чегараланган (гемиплегия, гемипарез ҳолати, бир қўл ишламайди барча ҳаракатлар соғ томон билан тўлиқ амалга оширилади, чайнаш, ютишга муаммоси йўқ, ходим томонидан назоратга қисман мухтож, протез ва ортез тақишда ўзгалар ёрдамига мухтож )- 7.5балл -75-51% фоиз.</td>
            <td>ўртача боғлиқлик (овқатланиш учун зарур бўлган ҳаракатларни ўзи мустақил бажаради, яъни юқори парапарез ҳолатларида қўллар кучи 3-3,5 баллни ташкил қилади, овқатланиш анжомларидан қошиқ ишлата олади, лекин секинлик ва қийинчилик билан, пичоқда кесиш ва вилкада санчиш харакатларини бажара олмайди, чайнаш ютишда муаммоси йўқ)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (овқатланиш учун зарур бўлган ҳаракатларнинг 25% фоизини ўзи бажаради, яъни юқори парапарез ҳолатлари, қўллар кучи 2 баллдан кам, вилка қошиқ, пичоқ ишлата олмайди қўли билан енгил предметларни оғзига кўтариши мумкин, чайнаш ва ютишга қийналади)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (овқатланиш ўзгалар томонидан амалга оширилади, чайнаш ва ютишга қийналади, гастростома, назогастрал трубкалар)-0 балл-5-1%.</td>
          </tr>
        <tr>
            <th scope="row">2. Шахсий гигиена (тараш, тишларни ювиш, юз ва қўлларни ювиш, соқол олиш, бўяниш)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл-100-76%.</td>
            <td>тегишли функцияни бажаришда мустақиллик қисман чегараланган (гемиплегия, гемипарез ҳолати, бир қўл ишламайди, тараш, тишларни ювиш, юз ва қўлларни ювиш, соқол олиш, бўяниш ҳаракатлари соғ томон билан тўлиқ амалга оширилади ходим томонидан назоратга қисман мухтож, протез ва ортез тақишда ўзгалар ёрдамига мухтож )- 7.5балл -75-51 %.</td>
            <td>ўртача боғлиқлик (гигиена учун зарур бўлган ҳаракатларнинг 50 фоизини ўз-ўзидан бажаради,яъни юқори парапарез ҳолатларида қўллар кучи 3 баллни ташкил қилади, тишларни ювиш, юз ва қўлларни ювиш, бўяниш ҳаракатларини бажара олади, анжомларини қийинчилик билан ишлата олади, лекин соқол олиш, соч тараш ҳаракатини бажара олмайди)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (гигиена учун зарур бўлган ҳаракатларнинг 25% фоизини бажаради, яъни юқори парапарез ҳолатлари қўллар кучи 2 баллдан пастни ташкил қилади, юз ва қўлларни ювиш қийинчилик билан бажара олади, лекин тараш, тишларни ювиш, соқол олиш, бўяниш ҳаракатларини бажара олмайди  )-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (керакли ҳаракатларнинг бирортасини мустаъқил бажара олмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">3. Ҳаммом ёки душдан хонасидан фойдаланиш имконияти(душга кириш,ечиниш,сувни очиш-ёпиш,совун суриш,ишқалаш,сочиқ билан қуритиш,кийиниш).</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл - 100-76%</td>
            <td>тегишли функцияни бажаришда қисман қарамлик (кийиниш ва ечинишда ёрдамга мухтож бошқа харакатларни мустаъқил бажаради, протез ва ортез тақишда ўзгалар ёрдамига мухтож )-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (душга коляскада қисман ўзгалар ёрдамида кира олади, сувни очади ёпади, совунлаш, ишқалаш,кийиниш-ечиниш, артинишда ва протез ёки ортез тақишда ўзгалар ёрдамга мухтож)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (душга коляскада ўзгалар ёрдамида киради бошқа харакатларда сув очиш-ёпиш, совунлаш, ишқалаш, кийиниш-ечиниш, артинишда ва протез, ортез тақишда тўлиқ ўзгалар ёрдамига мухтож)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (ётоқ ҳолатида,верикализация қилинмаган)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">4. Белдан юқори кийиниш (шу жумладан протез ёки ортез кийиш )</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман қарамлик (Протез ёки ортезни мустаъқил кияди, юқори кийимларни қийналиб мустаъқил кияди, лекин тозаланиш қисман ёрдамга мухтож.)-7.5 балл-75-51 %.</td>
            <td>ўртача боғлиқлик (Протез ёки ортезни қисман ўзгалар ёрдамида кияди, юқори кийимларни қисман қийналиб мустаъқил  кияди, лекин тугмалар қадашда тўлиқ ёрдамга мухтож)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (Протез ёки ортезни тўлиқ ўзгалар ёрдамида кияди, юқори кийимларни қисман қийналиб мустаъқил кияди, лекин тугмалар қадашда тўлиқ ёрдамга мухтож)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (барча харакатлар тўлиқ ўзгалар ёрдамида)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">5. Белдан пастроқ кийиниш (шу жумладан протез ёки ортез кийиш )</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда,  умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади яъни протез ёки ортезни мустақил равишда қийинчиликсиз кияди, протез ёки ортезда қўшимча ёрдам воситаларисиз ҳаракатланади, протез ёки ортезда 1000 метрдан ортиқ юра олади,  ) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (протез ёки ортезни мустақил равишда бироз қийинчилик билан кияди, протез ёки ортезда хасса ёрдамида ҳаракатланади, протез ёки ортезда 101 метрдан 1000 метргача юра олади, кийимларни ўзи мустаъқил кия олади, пайпоқ ва оёқ кийими кийишда қисман ёрдамга мухтож)-7.5 балл-75-51 %.</td>
            <td>ўртача боғлиқлик (протез ёки ортезни сезиларли қийинчилик билан кияди, протез ёки ортезда хасса ва қўлтиқтаёқ ёрдамида ҳаракатланади, протез ёки ортезда 21 метрдан 100 метргача юра олади, кийимларни кийишда қийналиб кияди, туғмалар қадашда, пайпоқ, оёқ кийим кийишда ёрдамга мухтож)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (протез ёки ортезни ўзгалар ёрдами билан кияди, протез ёки ортезда қўлтиқтаёқлар, ходуноклар  ёрдамида ҳаракатланади, протез ёки ортезда 0 метрдан 20 метргача юра олади,кийимларни кийишда ўзгалар ёрдамига мухтож  )-2.5 балл-25-6%.</td>
            <td>ўзгаларга тўлиқ боғлиқлик (протез ёки ортезни тўлиқ ташқи ёрдам орқали кияди, протез ёки ортезда юриш мосламаси ва ўзгалар ёрдамида ҳаракатланишга қийналади, протез ёки ортезда ўзгалар ёрдамида туради, лекин юра олмайди, кийимларни кия олмайди )-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">6. Ҳожатхона (шу жумладан, ҳожатхона қоғозидан фойдаланиш)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади ҳожатхонадан фойдаланганда ҳеч қандай тўсиқларга дуч келмайди. ) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (махсус мослаштирилган ҳожатхонада секинлик билан барча ҳаракатларни бажаради)-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (махсус мослаштирилган ҳожатхонадан фойдаланган ҳолда қисман ўзгалар ёрдамига мухтож, туришда, кийимни кийиш ва тугмаларни қадашда)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (махсус мослаштирилган ҳожатхонадан фойдаланган ҳолда ўтириш, туриш кийимни кийиш ва тугмаларни қадашда ўзгалар ёрдамига мухтож)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (суднолар ёки памперслардан фойдаланилади)-0 балл 5-1%</td>
        </tr>
        <tr>
            <th scope="row">7.  Қовуқнинг функциялари (сийдик чиқаришни назорат қилиш, асбоблар - катетер ва бошқалардан фойдаланиш).</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (сийдик чиқариш қисман тутилиш ёки тутолмаслик типида бузилган, лекин назорат қила олади.)-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (сийдик чиқариш тутилиш ёки тутолмаслик типида бузилган, эпицистома қўйилган, катетерни ўзи тозалаб очиб ёпа олади)-5 балл-50-26%. </td>
            <td>сезиларли боғлиқлик (сийдик чиқариш тутилиш ёки тутолмаслик типида бузилган, эпицистома қўйилган, катетерни тозалашда ва очиб ёпишда  ўзгалар ёрдамига мухтож)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (сийдик чиқариш тутилиш ёки тутолмаслик типида бузилган, эпицистома қўйилган кататер назоратида тўлиқ ўзгалар ёрдамига мухтож)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">8. Тўғри ичакнинг функцияларини бахолаш (дефикация актини назорат қилиш, махсус асбобларни қўллаш - колостомия сумкаси ва бошқалар).</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (ахлат ушламаслик ёки ич келмаслик типида қисман бузилган, жараённи мустақил назорат қила олади)-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (ахлат ушламаслик ёки ич келмаслик типида бузилган, жараённи памперс орқали назорат қила олади)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (ахлат ушламаслик ёки ич келмаслик типида бузилган, памперсда назорат қила олмайди, қисман жараённи хис қилади)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (ахлат ушламаслик ёки ич келмаслик типида бузилган, назорат қила олмайди, ич келишини сезмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">9. Тўшакдан туриш, стулга ёки аравачага ўтириш ва ундан чиқиш.</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (тўшакдан туриш, стулга ёки аравачага ўтириш ва ундан чиқиш мустақил бажаради, ортез ва протез кийишда оёқ кийим кийишда қисман ёрдамга мухтож)-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (тўшакдан туриш, стулга ёки аравачага секинлик билан қийналиб ўтиради, лекин тура олмайди қисман ўзгалар ёрдамида бажаради, ортез ёки протез кийишда, оёқ кийим кийишда ёрдамга мухтож)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (кроватда мустақил ўтиради, тура олмайди, стулга ёки аравачага ўта олмайди, ўзгалар ёрдамига мухтож)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (мустақил ўтира олмайди, тура олмайди, стулга ёки аравачага ўтира олмайди тўлиқ ўзгалар ёрдамига мухтож)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">10. Касбга ва ўқишга лаёқати.</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Касбга ва ўқишга лаёқати юқори) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда минимал мустақиллик (Касбга ва ўқишга лаёқати бор махсус шароитларда)-7.5 балл - 75-51 %.</td>
            <td>ўртача боғлиқлик (Касбга ва ўқишга лаёқати бор, лекин жисмоний имкониятларидан келиб чиқиб йўналтирилишга мухтож)-5 балл 50-26%.</td>
            <td>сезиларли боғлиқлик (Касбга ва ўқишга лаёқати бор, лекин хоҳиши йўқ ёки жисмоний имкониятлари ўта чегараланган)-2.5 балл 25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (касбга ва ўқишга лаёқати йўқ)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">11. Ташқи мухитда ориентир олиш,кўчада мустаъқил юра олиш,жамоатчилик транспортидан фойдаланиш қобилияти.</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (протезлар ва қўлтиқтаёқлар ёрдамида секинлик билан мустақил ҳаракатланади, ташқи мухитга ориентири бор, жамоатчилик транспортидан фойдалана олади )-7.5 балл-75-51 %.</td>
            <td>ўртача боғлиқлик (протезлар, қўлтиқтаёқлар ёки аравача ёрдамида секинлик билан мустаъқил ҳаракатланади, ташқи мухитга қийналиб ориентир олади, махсус жиҳозланган жамоатчилик транспортидан ўзгалар ёрдамида фойдалана олади)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (аравача ёрдамида секинлик билан мустаъқил ҳаракатланади, ташқи муҳитга ориентир ололмайди, махсус жиҳозланган жамоатчилик транспортидан ўзгалар ёрдамида фойдалана олади)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (аравачада ўзгалар ёрдамида ҳаракатланади, ташқи мухитга ориентир ололмайди, махсус жиҳозланган жамоатчилик транспортидан ўзгалар ёрдамида фойдаланади)-0 балл 5-1%</td>
        </tr>
        <tr>
            <th scope="row">12. Юриш ёки ногиронлар аравачасидан фойдаланиш</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Протез, ортез, ходунок, қўлтиқтаёқ ёрдамида ходим назоратида мустақил юради, протез-ортез тақилмаган холатда ногиронлар аравачасида 100 метрдан кўп харакатланади)-7.5 балл-75-51 %.</td>
            <td>ўртача боғлиқлик (Протез ва ортез ходим назоратида тақиб, еча олади, мустақил протез ёрдамида қийинчилик билан юради, протез-ортез тақилмаган холатда ногиронлар аравачасида 50 метргача харакатланади.) 5.0 балл   
                <br>А) Протез ва ортез ходим назоратида тақиб, ечиб олади, протез ёрдамида хасса билан юради, протез-ортез тақилмаган холатда ногиронлар аравачасида 40 метр харакатланади. 4 балл..
                <br>Б) Протез ва ортез ходим назоратида тақиб, ечиб олади, протез ёрдамида хасса билан қийналиб, оқсоқланиб юради, протез-ортез тақилмаган холатда ногиронлар аравачасида 30 метр харакатланади. 3.5 балл.
                <br>В) Протез ва ортез ходим назоратида тақиб, ечиши узоқ вақтни олади, протез ёрдамида қийинчилик билан юради, протез-ортез тақилмаган холатда ногиронлар аравачасида харакатланади 20 метр. 3 балл .
                50-26%</td>
            <td>сезиларли боғлиқлик (Протез ва ортез ходим назоратида тақиб еча олади, махкамловчи камарларни боғлашда ўзгалар ёрдамига мухтож, протез ёрдамида қўлтиқ таёқ билан юради, протез-ортез тақилмаган ҳолатда ногиронлар аравачасида 10 метр харакатланади.)-2.5 балл-25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (ўзгалар ёрдамисиз ҳаракатлана олмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">13. Зинадан чиқиб-тушишни бахолаш</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (барча ҳаракатлар мустақил равишда, умум этироф этилган тартибда ва мақбул вақт харажати билан амалга оширилади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Зинадан мустақил ходим назоратида қийналиб кўтарилиб, туша олади, протез-ортезлар тақишда ўзгалар ёрдамига мухтож)-7.5балл-75-51 %.</td>
            <td>ўртача боғлиқлик (Зинадан мустақил ходим назоратида кўтарилиб-тушуши қийин, узоқ вакт талаб қилади, баъзан туша олмайди, протез-ортезлар тақишда ўзгалар ёрдамига мухтож)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (Зинадан ходим ёрдамида РТВдан фойдаланган ҳолда жуда қийналиб кўтарилиб-тушади, узоқ вақт талаб қилади, баъзан чиқолмаслиги мумкин, протез-ортезлар тақишда ўзгалар ёрдамига мухтож)-2.5 балл -25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (ўзгалар ёрдамида ҳам чиқа олмайди, тўлиқ мухтож)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">14. Ташқи маълумотни идрок этиш (мурожаат қилинган оғзаки ёки ёзма нутқни тушуниш)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Ташки маълумотни мустакил равишда тўлиқ идрок эта олади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Ташки маълумотни ўзгалар назорати остида идрок эта олади, мустақил гапира олмайди (мотор афазия),  бир сўзни қайта қайта такрорлаш ёрдамида ёки қайта қайта тушунтириш ёрдамида)-7.5 балл-75-51 %.</td>
            <td>ўртача боғлиқлик (Маълумотларни идрок қилиши ёки тушуниши учун ёрдамчи воситалар иштирок этади, расм, видео, кўргазмали иш қуроллари в.х.к)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (Маълумотларни ёрдамчи воситалар иштирок этиши билан қисман идрок эта олади)-2.5 балл -25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (Сенсомотор-афазия, ташқи маълумотларни тўлиқ идрок эта олмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">15. Ўз фикр ва истакларини тақдим этиш (оғзаки/ёки ёзма).</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Ўз фикр ва истакларини белгиланган вақтда  огзаки ва ёзма тарзда тўлик ифода эта олади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Ўз фикр ва истакларини оғзаки ифода эта олади лекин ёзма ифода этиш учун қўшимча вақт сарфлайди)-7.5балл -75-51 %</td>
            <td>ўртача боғлиқлик (Ўз фикр ва истакларини бажариши учун  қўшимча вақт талаб қилган холда фақат оғзаки тақдим эта олади)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (ўз фикр ва истакларини оғзаки қисман тушунтира олади)-2.5 балл 25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (Ўз фикр ва истакларини умуман тушунтира олмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">16. Ижтимоий интегратция бахолаш (бошқалар билан, жумладан, оила аъзолари, тиббиёт ходимлари ва бошқалар билан ўзаро муносабатлар)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Тиббиёт ходимлари, оила аъзолари ва бошқалар билан муносабатга хеч кандай қийинчиликларсиз тўлиқ кириша олади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Мухитга қараб мослашиш яъни бемор хоҳлаган шароит яратиб берилса мослаша олади)-7.5балл- 75-51 %.</td>
            <td>ўртача боғлиқлик (Бемор, конфликтга мойил, ўзи хоҳлаган  инсонлар билан мулоқот қилади)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (фақат оила аъзолари ва ўзига яқин муҳитга мослаша олади)-2.5 балл - 25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (Бемор тиббиёт ходимлари, оила аъзолари ва бошқалар билан умуман муносабатга кириша олмайди)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">17. Қарор қабул қилиш қобилияти бахолаш   (шахсий, ижтимоий, молиявий ва бошқа эҳтиёжлар билан боғлиқ муаммоларни ҳал қилиш қобилияти)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Бемор ўзгалар ёрдамисиз шахсий, ижтимоий, молиявий ва бошқа эхтиёжлар билан боглик муаммоларни мустакил ҳал қила олади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Тегишли қарорларни қабул қилиш учун ўзгалар фикри ва маслахатига мўҳтож)-7.5 балл – 75-51 %.</td>
            <td>ўртача боғлиқлик (Бемор  тегишли карорларни қабул қилиши учун ўзгалардан аниқ таклиф ва тасдиқ кутади)-5 балл–50-26%</td>
            <td>сезиларли боғлиқлик (Бемор ўзгалар фикри билан ҳам бир қарорга кела олмайди)-2.5 балл - 25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (Бемор қарор қабул қилиш қобилиятига эга эмас)-0 балл 5-1%.</td>
        </tr>
        <tr>
            <th scope="row">18. Хотира (бошқаларни тан олиш, маълумотни эслаб қолиш ва такрорлаш қобилияти, ўрганиш)</th>
            <td>тегишли функцияни бажаришда тўлиқ мустақиллик (Бемор янги ва эски хотираларини аник эслай олади) – 10 балл 100-76%</td>
            <td>тегишли функцияни бажаришда қисман чегараланиш (Бемор маълумотларни эслаб қолиши, такрорлаш қобилияти, ўрганиши қўшимча кўргазмали воситалар ёрдамида амалга ошади ( видео, расм, мусиқа в.ҳ.к))-7.5балл – 75-51 %.</td>
            <td>ўртача боғлиқлик (Маълумотларни эслаб қолиши қобилияти кўргазмали воситалар ёрдамида хам қисқа муддатли)-5 балл-50-26%.</td>
            <td>сезиларли боғлиқлик (Маълумотларни эслаб қолиш ва такрорлаш кўргазмали воситалар ёрдамида амалга оширилса ҳам фақат маълум қисминигина эслаб қола олади)-2.5 балл – 25-6%.</td>
            <td>бошқаларга тўлиқ боғлиқлик (Бемор эслаб қолиш қобилиятига эга эмас)-0 балл 5-1%.</td>
        </tr>
    </tbody>
  </table>
{% endblock context %}




{% block addscript %}
{% endblock addscript %}